<div class="container-fluid">
    <h2>Product</h2>

    <form {{action save on="submit"}} class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="name" id="name" placeholder="Name"}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Description</label>
            <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="description" placeholder="Enter description..."}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Price</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="price" id="price" placeholder="0.00"}}
            </div>
        </div>

        <button type="submit">Save</button>

    </form>
</div>
