<div class="hero-unit">
<h1>Ember Catalog</h1>
<p>Welcome to my most amazing store! All done in ember.js as a way of testing it out.</p>
<p>Why not browse the catalog? or look at our special offers below!</p>
</div>



